.main_followers {
  border: 1px solid #fff;
  
}
.follow_title { 
  text-align: center; 
  font-weight: bold; 
  font-size: 30px; 
  margin-top: 60px; 
  margin-bottom: 30px; 
}
.follow_image { 
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.follow_content {
  padding-bottom: 20px;
  margin-left: 250px;
  margin-right: 250px; 
  height: 100%; 
  margin-bottom: 100px;
}

.Messagefollow { 
  background-color: #f5f5f5;
  margin-bottom: 3px;
  padding: 10px;
  color: #2f2725;
  border-radius: 3px;
  position: relative;
  margin-top: 13px;
}
.Messagefollow::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 0px;
  top: -15px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid  #f5f5f5;
  border-left: 15px solid transparent;
}
.Messagefollow::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 0px;
  top: -12px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid  #f5f5f5;
  border-left: 15px solid transparent;
}

.follow-message{
  font-size: 15px;
  width: 100%;
}

.follow_text {
    font-size: 20px;
    text-align: center; 
    font-weight: bold;
}