-# パンくず
- breadcrumb :followings

.main_following 
  .following  
    %h1.follower.index フォロー中のユーザー一覧
    - @users.each do |user| 
      %h1.text 
        = link_to "#{user.name}", user_path(user), method: :get 
