-# パンくず
- breadcrumb :delete

.deleteText
  .deleteText__box1
    %h2.dele
      削除しました。

  .deleteText__box2
    .deleteText__box2--deleText
      = link_to root_path, class: "top" do
        トップページに戻る