.Devise {
  height: 100vh;
  background-color: rgb(38, 43, 48);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  &__header {
    font-size: 30px;
    margin-bottom: 30px;

    h2 {
      margin-top: 20px;
    }
  }
  &__main {
    width: 480px;
  }
}

$page-bg: #282F32;
$light-blue: #3599FF;
$bright-blue: #68B3FF;
$light-gray: #999;
$curve: cubic-bezier(0, 0, 0.52, 1.11);
$curve: linear;

.Devise {
  // width: 450px;
  margin: 0 auto;
  text-align: left;
  // margin-top: 10em;

  label{
    display: block;
    text-align: left;
    color: white;
    font-size: .875em;
  }

  form{
    .text-input{
      overflow: hidden;
      margin-bottom: .875em;
      font-size: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"]{
      width: 100%;
      padding: 1em 0 12px;
      padding-left: 10px;
      padding-right: 10px;
      background: none;
      color: white;
      font-size: 1.2em;
      font-weight: 400;
      border: none;
      border-bottom: 1px solid $light-gray;
      &:focus + .separator {
        transform: scaleX(1) translateY(-2px);
        opacity: 1;
      }
    }

    input[type="submit"]{
      color: white;
      background: $light-blue;
      padding: 1em 1.4em;
      font-size: 1.2em;
      border:none;
      border-radius: 10px;
    }
  }

  .separator {
    height:3px;
    width: 100%;
    background: $bright-blue;
    display: block;
    transform: scaleX(0) translateY(-2px);
    transform-origin: 50%;
    opacity: 0;
    transition: all .15s $curve;
  }

  * :focus {
    outline-color: transparent;
    outline-style: none;
  }

  a {
    color: $light-blue;
    font-size: 1em;
    text-decoration: none;
  }

  .form-bottom {
    margin-top:1.25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
