.follow-now { 
  background-color: #00AEEF; 
  color: #fff; 
  border: #fff; 
  border-radius: 5%;
} 
.follow-after { 
  background-color: #fff; 
  color:  #00AEEF; 
  border-radius: 5%; 
  border: 1px solid #00AEEF;
}