// @import url('https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css');
* {
  box-sizing: border-box;
}

.form-group {
  width: 100%;;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: inline-block;
  // margin-left:  50px;
  // margin-right: 50px;

  // align-items: center;

  // @include display-flex();
  // @include flex-direction(row);
  // @include justify-content(center);
  // @include align-items(center);
  // 商品画像
  // .product-image {
  //   height: 80px;
  //   width : 70px;
  // }

//   align-items: center;
  // .image-box{
  //   height: 700px;
  //   width: 700px;
  // }

  .onegai{
    color:gray;
    padding-bottom: 30px;
  }

// 商品画像
// .product-image {
//   height: 80px;
//   width : 70px;
// }


  // 基本の形
  .title,
  .condition,
  .leadtime,
  .brand{
    height: 50px;
    width:  500px;
    margin-bottom: 20px;
    margin-top:    20px;
  }

  // 販売価格
  .price {
    height: 50px;
    width: 250px;
    margin-bottom: 20px;
    margin-top:    20px;
    justify-content: flex-end;
  }

  // 商品の説明
  .product {
    height: 200px;
    width:  500px;
    margin-bottom: 20px;
    margin-top:    20px;
  }

  // 商品状態
  // .condition {
  //   height: 50px;
  //   width:  500px;
  //   margin-bottom: 20px;
  //   margin-top:    20px;
  // }

  // 発送までの日数
  // .leadtime {
  //   height: 50px;
  //   width:  500px;
  //   margin-bottom: 20px;
  //   margin-top:    20px;
  // }

  // ブランド名
  // .brand {
  //   height: 50px;
  //   width:  500px;
  //   margin-bottom: 20px;
  //   margin-top:    20px;
  // }

  // カテゴリー
  .category {
    height: 50px;
    width:  500px;
    margin: 5px 0;
  }

  // 配送方法
  .delivery {
    height: 50px;
    width:  500px;
  }
}
  // 必須アイコン
  .icon {
    display: inline;
    padding: 3px 5px;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    background-color: red;
    margin-left: 10px;
    font-weight: 700;
  }

  // 任意アイコン
  .icon2 {
    display: inline;
    padding: 3px 5px;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    background-color:gray;
    margin-left: 10px;
    font-weight: 700;
  }

  // 削除アイコン
  .js-remove {
    // display: block;
    // height: 20px;
    // width:  35px;
    color: white;
    // font-size: 13px;
    // border-radius: 4px;
    // text-align: center;
    // background-color:blue;
    // cursor: pointer;
    // &:hover {
    //   color:white;
    //   background-color:gray;
    // }
  }

  // 出品ボタン
  .submit-btn {
    padding: 20px 50px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    background-color:#3CCACE;
    margin-top: 50px;
    border: none;
    &:hover {
      color:white;
      background-color:#66edf1;
      cursor: pointer;
    }
  }

  .submit {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .image-field {
    display: flex;
    justify-content: space-around;
  }

  .js-file_group {
    text-align: center;
  }
  .item_delivery_id {
    width: 800px;
  }
  .select#item_delivery_id {
    width: 800px;
  }

// select  {
//   width: 500px;
//   height: 50px;
// }

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

label {
  display: block;
}

.error {
  color: red;
}

.error-field {
  border: 1px solid red;
}

#image-box{
  // height: auto;
  width: 510px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}



.js-file_group{
  display: none;
}

.preview-box {
  // outline: 1px solid gray;
  display: flex;
  #previews{
    display: flex;
    flex-wrap: wrap;
    outline: 2px dashed #3CCACE;
    padding: 5px;
    img {
      object-fit: cover;
      border-radius: 5px;
    }
    .preview__item {
      position: relative;
    }
    .js-remove {
      font-size: 20px;
      color: rgb(255, 64, 64);
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    .triggericon {
      border: 2px solid #3CCACE;
      color: #3CCACE;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }
}

.fas.fa-camera{
  font-size: 30px;
  text-align: center;
}

.underline{
  width: 100%;
  height:  1px;
  background-color:rgb(189, 189, 189);
}

.supplement{
  color: #3CCACE;
  font-weight: 600;
}

.fee-span, .profit-span{
  // display: flex;
  text-align: right;
  border: 1px solid #ccc;
  -webkit-appearance: none;
}
// .sortable {
//   padding: 0;
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;

//   li {
//     float: left;
//     width: 120px;
//     height: 120px;
//     overflow: hidden;
//     border: 1px solid red;
//     text-align: center;
//     margin: 5px;
//   }
// }

// li.sortable-placeholder {
//   border: 1px dashed #CCC;
//   background: none;
// }

// .iconnooya {
//   height: 100px;
// }

