.container {  
  display: flex;  
  justify-content: space-around;   
  .wrapper {    
    width: 900px; 
    display: flex;
    flex-direction: column;
    .upper{    
      display: flex; 
      justify-content: center; 
      width: 100%; 
      background-color:  #48d1cc;
      padding: 10px 20px;  
      border-radius: 5px; 
      color: #f5f5f5; 
      font-size: 20px; 
      font-weight: bold; 
      text-align: center; 
      margin-bottom: 0px;
    } 
  }
} 

.container { 
  .index_mypage{  
    display: flex; 
    justify-content: flex-start;
    .content_2 {   
      height: 400px;
      margin-top: 20px; 
      margin-bottom: 50px;
      display: flex;  
      .content { 
        .user_images {   
          height: 200px;  
          .item_image { 
            width: 300px; 
            height: 200px; 
            border: 1px solid #fff; 
          }
        } 
        .user_info {    
          padding-top: 10px;   
          background-color: #f5f5f5; 
          font-size: 15px; 
          border: solid 1px #fff; 
          width: 300px; 
          font-weight: bold;
          padding-left: 20px; 
          padding-right: 5px; 
        }   
      }
    } 
  }  
}