.contents { 
  display: flex; 
  height: calc(100vh - 90px - 20px);
  width:500px;
  margin: 0 auto;
  .form-area{
    width: 500px;
    height: 400px;
    font-size:20px;  
    display: flex;
    color: #2b2b2b;
  } 
}  
.profile.text { 
  font-size: 20px;
  margin-top:15px;
  margin-bottom: 5px; 
  padding: 2px; 
  color:#262626; 
} 
.profile.image { 
  font-size: 20px;
  margin-bottom: 5px;
  color: #262626; 
}
.button { 
 background-color: #48d1cc; 
 color: #fff; 
 font-size: 25px;
 font-weight: bold; 
 border-radius: 10px; 
 border: 1px solid #fff;
 margin-top: 8px;
}