.between_image { 
  text-align: center; 
  font-size: 20px;
}
.index_mypage { 
  width: 900px; 
  .content_2 { 
    display: flex;
    flex-wrap: wrap; 
   overflow: scroll;
  } 
  .search_result { 
    font-size: 30px;
    margin-left: 300px;
  }
}