* {
  box-sizing: border-box;
}
.card{   
  display: flex;  
  justify-content: center; 
  flex-direction: column; 
  text-align: center; 
  .card-menu { 
    display: flex;  
    align-items: flex-end; 
    position: relative;
    .card-edit {   
      width: 10%;
      background-color: #00bfff; 
      border-radius: 5px; 
      color: #f5f5f5; 
      font-size: 16px; 
      font-weight: bold; 
      position: absolute; 
      top: 0px;
      right: 250px;
    } 
    .card-delete {  
      width: 10%;
      background-color: #FF9933; 
      border-radius: 5px; 
      color: #f5f5f5; 
      font-size: 16px; 
      font-weight: bold;  
      position: absolute;
      top: 28px;
      right: 250px;
    }  
  }
  .card-title{   
    h1 { 
      font-size: 40px; 
      font-weight: bold; 
      text-align: center; 
    }  
    h4{  
      text-align: center; 
      font-size: 50px; 
      padding-top: 20px; 
      text-align: center;  
      font-weight: bold;
    }
    p{ 
      font-size: 20px; 
      font-weight: bold;  
      padding: 20px 0;  
      margin-right: 670px;
    } 
  }  
  .cash-cash { 
    background-color: red; 
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 880px;
    padding: 10px 10px;
    border-radius: 5px; 
    color: #f5f5f5; 
    font-size: 16px; 
    font-weight: bold; 
    width: 200px;
  }
  .card-table { 
    display: flex; 
    justify-content: center;
    tr {   
      height: 60px;  
      border: solid 3px #000; 

      // width: 1000px;
      th {   
        // width: 25%;
        font-size: 20px;
        background-color: #f2f2f2; 
        text-align: center; 
        font-weight: bold;  
        padding-top:10px; 
        border-right:  solid #000; 
  
      } 
      td {    
        // width: 75%;
        font-size: 17px;  
        font-weight: bold;
        padding-left: 5px; 
    
      }
    } 
  }  
  .btn-bar {  
    margin-top: 30px; 
    margin-bottom: 30px; 
    font-size: 23px; 
    font-weight: bold; 
    padding-right: 550px; 
    font-family: Arial, Helvetica, sans-serif;
    }  
} 

.Chat {
  width: 70vw;
  height: 300px; 
  display: inline-block; 
  margin-left: 220px;
  border: 1px solid #fff; 
} 

.self_image { 
  height: 50px; 
  width: 50px; 
  border-radius: 50%;
}

.MessageField {
  width: 100%;
  padding: 10px;
  overflow: scroll; 
}

.MessageBox {
  background-color: #f5f5f5;
  margin-bottom: 3px;
  padding: 10px;
  color: #2f2725;
  border-radius: 3px;
  width: 90%; 
  position: relative;
  margin-top: 15px;
} 
.MessageBox::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 0px;
  top: -15px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid  #f5f5f5;
  border-left: 15px solid transparent;
} 
.MessageBox::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 0px;
  top: -12px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid  #f5f5f5;
  border-left: 15px solid transparent;
}

.Message{ 
  font-size: 15px; 
  width: 100%; 
}

.MessageInfo{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  &__userName {
    font-size: 15px;
    margin-right: 10px;
  }
} 
.warning { 
  margin-bottom: 10px;
  padding-left: 10px;
} 

.comment.none { 
  text-align: center; 
  margin: 30px auto;
}
.form {  
  display: flex; 
  justify-content: center;  
.form-area {  
  height: 40px; 
  font-size: 15px; 
  padding: 5px; 
  width: 600px; 
  border: 3px solid #000;
}  
.submit {   
  height: 40px;
  width: 100px;
  margin-left: 3px;
  font-size: 12px; 
  float: right;  
  color: #fff;
  background-color: #48d1cc;
}  
}   
