p.invalid {
  color: rgb(255, 86, 86);
  text-align: right;
  font-weight: bold;
}

input.invalid {
  border: 1.5px solid rgb(255, 86, 86);
  outline-style: none;
}

select.invalid {
  border: 1.5px solid rgb(255, 86, 86);
  outline-style: none;
}

textarea.invalid {
  border: 1.5px solid rgb(255, 86, 86);
  outline-style: none;
}
