p.invalid {
  color: red;
  text-align: right;
}

input.invalid {
  border: 1.5px solid red;
  outline-style: none;
}

select.invalid {
  border: 1.5px solid red;
  outline-style: none;
}

textarea.invalid {
  border: 1.5px solid red;
  outline-style: none;
}
