%h1 フォームです
= form_with model: @item, local: true do |f|
  .form-group.card-title
    =f.label :images do
      商品画像
    =f.fields_for :images do |i|
      =i.file_field :image 
    -# =f.file_field :images, class:"form-control"
  
  .form-group
    =f.label :title do
      商品名
    =f.text_field :title

  .form-group
    =f.label :price do
      販売価格
    =f.number_field :price

  .form-group
    =f.label :text do
      商品説明
    =f.text_field :text

  .form-group
    =f.label :stock do
      商品在庫
    =f.number_field :stock

  .form-group
    =f.label :category_id do
      商品カテゴリー
    =f.number_field :category_id

  .form-group
    =f.label :brand do
      ブランド
    =f.text_field :brand

  .form-group
    =f.label :condition do
      商品の状態
    =f.text_field :condition
  
  .form-group
    =f.label :delivery_id do
      配送料の負担
    =f.number_field :delivery_id
  
  .form-group
    =f.label :leadtime do
      発送までの日数
    =f.number_field :leadtime
  
  .form-group
    =f.submit "出品"
