.main
  ●●●メインページ
  .main__box
    ●●
    .main__box--textBox
      ●アプリ紹介(以下は指定サンプルよりあくまで例)
      .main__box--textBox--content1
        アプリに関して①（紹介）
      .main__box--textBox--content2
        アプリに関して②（ダウンロードの仕方）
      .main__box--textBox--content3
        アプリに関して③（アプリ特徴）
    .main__box--itemBox
      ●商品
      .main__box--itemBox--itemIndex
        .main__box--itemBox--itemIndex--item
          - @items.each do |item|
            %ul.item_status
              %li.item_status__stock
                SOLD
              %li.item_status__price
                価格:
                = item.price
              %li.item_status__title
                商品名:
                = link_to item.title, item_path(item)


  -# .main__box--itemBox--itemIndex
  -#       .main__box--itemBox--itemIndex--item
  -#         - @items.each do |item, image|
  -#           - if item.stock == 0
  -#             %ul.item_status
  -#               %li.item_status__stock
  -#                 SOLD
  -#               %li.item_status__price
  -#                 価格:
  -#                 = item.price
  -#               %li.item_status__title
  -#                 商品名:
  -#                 = item.title
  -#           - else
  -#             -# = image_tag image.image.url, class: "item_image" if image.image.present?
  -#             %ul.item_status
  -#               %li.item_status__price
  -#                 価格:
  -#                 = item.price
  -#               %li.item_status__title
  -#                 商品名:
  -#                 = item.title
  -#     .main__box--itemBox--archive
  -#       アーカイブ？
