= render "header"
.mypage_a  
  %main.mypage-contents.clearfix
    .main-content
      .reserved
        .reserved-content
          .reserved-content__title
            %h1.reserved-header 出品が一時停止されました