.card
  .card-title
    %h1.text-center
      %span.card-text タイトル: @item.title
    %h1.text-center  
      %span.card-text 画像: 画像
    %h1.text-center  
      %span.card-text @item.price(税込) 
    %h1.text-center  
      %span.card-text @item.text 

  .card-table  
    %table{:border => 1, :width => "50%"}
      %tr
        %th 出品者
        %td 石井
      %tr  
        %th カテゴリー
        %td 作業着 
      %tr  
        %th ブランド
        %td @item.brand 
      %tr   
        %th 商品の状態
        %td @item.condition
      %tr   
        %th 配送元の地域 
        %td 東京 


.form 
  = form_with model: @item, local: true do |f| 
    = f.text_area :text, class: "form-area" 
    = f.submit "コメントする", class: "submit"