.card
  .card-body
    %h1.text-center
      %span.card-text タイトル:@sell.title 
.card-body
  %h3.text-center
    %span.card-text
  %h3.text-center
    %span.card-text 価格：@item.price  
  %h3.text-center
    %span.card-text 本文：@sell.text   
  %h3.text-center
    %span.card-text 在庫 : @sell.stock 
  %h3.text-center
    %span.card-text ブランド : @sell.brand  
  %h3.text-center
    %span.card-text 状態 : @sell.condition 