.breadcrumbs {
  height: 60px;
  width: 100%;
  padding-top: 18px;
  padding-left: 15px;
  margin-bottom: 50px;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  // background-color: green;
}

.breadcrumbs-list {
  // font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
}